# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# OS
Thumbs.db
Desktop.ini
.DS_Store
